<!-- File name: about.ejs
     Student name: Parth Patel
     Student ID: 301207843
     date : 28th sept 2021-->



<!-- *********************************   about me page  *********************************************** -->
    <% if (title == "about"){ %> 
      
      <div>
        
        <h1 id="name" style="position: absolute; left: 650px; top: 200px; width: 600px; text-decoration: underline; height: 30px; ">
           -: Parth Patel :-
        </h1>  <!--h1 to display name-->
      </div>
      <img style="position: absolute; left: 300px; top: 300px;" src="Assets/me.jpg" height="400px" width="320px" />  <!-- my photo-->
      <p  style="position: absolute; left: 650px; top: 680px; text-decoration: underline;">* my resume : </p><a style="background-color: rgb(238, 255, 0); position: absolute; left: 750px; top: 680px;" href="Assets/resume .pdf">PDF file </a> </p><!--PDF link-->
      <p style="position: absolute; left: 650px; top: 300px; font-size: 20px;"><!-- My information-->
        Hello, my name is Parth Patel. I am from India. I have complited Computer Science Engineering from Parul University in 2020.
        I like challenges and love to travel and explore new places. Swimming, Riding, playing sports and cooking are my hobbies. I have done 
        my final year project in image processing and little bit of deep learning topic. So that encourage me to study more course like AI and Machine learing,
        so I took admission at centennial in software engineering - AI course. 
      </p>
      <p style="position: absolute; top:850px; left: 20px; color: teal;"> thank you </p>
    <%}%>
  