<!--
     File name: bottom.ejs
     Student name: Parth Patel
     Student ID: 301207843
     Assignment: web authentication 
     date : 25th oct 2021   
-->
<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; 2021. All Rights reserved.</h6>
    </nav>
  </footer>