 <!-- File name: service.ejs
     Student name: Parth Patel
     Student ID: 301207843
     date : 28th sept 2021-->
 <!-- *********************************   service page    *********************************************** -->
    <% if (title == "service"){ %> 
      
      <h1 style="position: absolute; top: 250px; left: 30px; color: rgb(214, 214, 226); text-decoration: underline">~ My services: </h1>
      <!-- first service -->
      <h2 style="position: absolute; top: 350px; left: 650px; color:darkslateblue ;"> Programming  <i class="fas fa-wrench"></i> </h2>
      <img  src="Assets/prog.jpeg" height="400px" width="800px" style="position: absolute; top:400px; left: 350px;" />

      <!-- second service -->
      <h2 style="position: absolute; top:  950px; left: 650px; color: darkslateblue;"> Problem solving  <i class="fas fa-wrench"></i> </h2>
      <img  src="Assets/prob.jpeg" height="400px" width="800px" style="position: absolute; top:1000px; left: 350px;" />

      <!-- third service -->
      <h2 style="position: absolute; top:  1550px; left: 650px; color: darkslateblue;"> software design  <i class="fas fa-wrench"></i> </h2>
      <img  src="Assets/soft.jpeg" height="400px" width="800px" style="position: absolute; top:1600px; left: 350px;" />

      <h2 style="position: absolute; top:  2300px; left: 650px; color:darkslateblue  ;">. <i class="fas fa-wrench"></i> </h2>
      
    <%}%>
     <!-- *********************************   service page    *********************************************** -->